#Practice files

hierarchical_clustering.ipynb
iris_practice.ipynb
k_means.ipynb
k_means.ipynb
PCA_practice.ipynb
shopping_data.ipynb

iris.csv
new_iris_data.csv
shopping_data.csv
shopping_data_cleaned.csv
